body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    color:blueviolet;
    text-align: center;
    font-size: 100px;
    border: 5px solid black;
    
}
h1:hover{
    box-shadow: 0 0.5em 0.5em -0.5em #dc1919 ;
    transform: translateY(-0.05em);
    color: red;
    border: 5px;
    border-color: black;
    cursor: pointer;
    border: 5px solid rgb(238, 23, 23);

}

#container {
    background-color: rgb(9, 72, 51);
    width: 100%;
    height: 500px;
    margin: auto;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;

}
#container div{
    width: 200px;
    height: 200px;
}
div:nth-of-type(odd){
    flex-grow: 1;
}